# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DesignPattern.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Work Space\DesignPattern\DesignPattern\.idea\.idea.DesignPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
